---
import CardDocuments from "../components/CardDocuments.astro";
import { cardsData } from "../data/articles.js";
---

<div class="flex flex-col gap-y-3">
  {
    cardsData.map((card) => (
      <CardDocuments
        id={card.id}
        href={card.href}
        title={card.title}
        subtitle={card.subtitle}
        imageSrc={card.imageSrc}
        imageAlt={card.imageAlt}
      />
    ))
  }
</div>
