---
import CardDocuments from "../components/CardDocuments.astro";
import NoDataCard from "../components/NoDataCard.astro";
// import { cardsData } from "../data/articles.js";
const cardsData: any[] = [];
---

<div class="flex flex-col gap-y-3">
  {
    cardsData.length > 0 ? (
      cardsData.map((card) => (
        <CardDocuments
          id={card.id}
          url={card.url}
          href={card.href}
          title={card.title}
          subtitle={card.subtitle}
          imageSrc={card.imageSrc}
          imageAlt={card.imageAlt}
        />
      ))
    ) : (
      <NoDataCard
        message="Oops, there are no articles to display."
        subtitle="But don't worry, there's always something interesting waiting for you!"
        imageSrc="/src/assets/img/notion/white/my-notion-face-transparent_8.png"
      />
    )
  }
</div>
