---
const {
  id = "",
  url = "",
  href = "",
  title = "",
  subtitle = "",
  imageSrc = "",
  imageAlt = "",
} = Astro.props;
---

<a
  id={id}
  href={href}
  class="rounded-lg flex items-stretch gap-4 border-[1px]
  border-hub-border
  dark:border-hub-border-dark
  hover:drop-shadow-md
  hover:bg-hub-background-nav
   dark:bg-hub-background-nav-dark
   hover:dark:bg-hub-background-dark"
  target="_blank"
  rel="noopener noreferrer"
>
  <!-- Contenedor izquierdo: Imagen -->
  <div
    class="w-[92px] aspect-square rounded-l-lg overflow-hidden flex-shrink-0 border-hub-border
        dark:border-hub-border-dark
      dark:bg-hub-background"
  >
    <img src={imageSrc} alt={imageAlt} class="w-full h-full object-cover" />
  </div>

  <!-- Contenedor derecho: Información -->
  <div class="flex flex-col justify-center py-3 pr-2 flex-grow gap-y-3">
    <div>
      <h2 class="text-sm text-hub-title dark:text-hub-title-dark text-wrap">
        {title}
      </h2>
      <h3 class="text-slate-700/90 dark:text-hub-subtitle-dark text-xs">
        {subtitle}
      </h3>
    </div>
    <small class="text-hub-subtitle dark:text-hub-subtitle-dark text-xs"
      >{url}</small
    >
  </div>
</a>
