---
import CardDocuments from "../components/CardDocuments.astro";
import NoDataCard from "../components/NoDataCard.astro";
// import { cardsData } from "../data/educationhub.js";
const cardsData: any[] = [];
---

<div class="flex flex-col gap-y-3">
  {
    cardsData.length > 0 ? (
      cardsData.map((card) => (
        <CardDocuments
          id={card.id}
          href={card.href}
          title={card.title}
          subtitle={card.subtitle}
          imageSrc={card.imageSrc}
          imageAlt={card.imageAlt}
        />
      ))
    ) : (
      <NoDataCard
        message="¡Estamos trabajando en los productos!"
        subtitle="Por ahora, no hay productos disponibles, pero pronto tendremos algo especial para ti."
        imageSrc="/src/assets/img/notion/white/my-notion-face-transparent_11.png"
      />
    )
  }
</div>
