---
import CardDocuments from "../components/CardDocuments.astro";
import NoDataCard from "../components/NoDataCard.astro";
// import { cardsData } from "../data/educationhub.js";
const cardsData: any[] = [];
---

<div class="flex flex-col gap-y-3">
  {
    cardsData.length > 0 ? (
      cardsData.map((card) => (
        <CardDocuments
          id={card.id}
          href={card.href}
          title={card.title}
          subtitle={card.subtitle}
          imageSrc={card.imageSrc}
          imageAlt={card.imageAlt}
        />
      ))
    ) : (
      <NoDataCard
        message="We are working on the products!"
        subtitle="For now, there are no products available, but we will have something special for you soon."
        imageSrc="src/assets/img/notion/white/my-notion-face-transparent_15.png"
      />
    )
  }
</div>
