---
import { getI18N } from "@/i18n";
import CardDocuments from "../common/CardDocuments.astro";
import NoDataCard from "../common/NoDataCard.astro";
import { getCollection } from 'astro:content';


const url = new URL(Astro.url);
const lang = url.pathname.split('/')[2] || 'en';
console.log("lang:", lang);
const i18n = getI18N({ currentLocale: lang });
let articles = await getCollection('articles');
articles = articles.filter((article: any) => article.data.lang === lang);

---

<div class="flex flex-col gap-y-3">
  {
    articles.length > 0 ? (
      articles.map((article: any) => (
        <CardDocuments
          id={article.id}
          url={`/blog/${lang}/articles/${article.id}`}
          href={`/blog/${lang}/articles/${article.id}`}
          title={article.data.title}
          subtitle={article.data.description}
          imageSrc={article.data.image || "/blog/img/my.svg"}
          imageAlt={article.data.title}
        />
      ))
    ) : (
      <NoDataCard
        message={i18n.ARTICLES?.empty?.message ?? "No articles found"}
        subtitle={i18n.ARTICLES?.empty?.message2 ?? ""}
        imageSrc="/blog/img/my.svg"
      />
    )
  }
</div>
