---
import Card from "../common/Card.astro";
import NoDataCard from "../common/NoDataCard.astro";
import { getI18N } from "@/i18n";
import { cardsData } from "../../data/projects.js";

// const cardsData: any[] = [];
//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="flex flex-col gap-y-3">
  {
    cardsData.length > 0 ? (
      cardsData.map((card) => (
        <Card
          id={card.id}
          url={card.url}
          href={card.href}
          title={card.title}
          isNew={card.isNew}
          subtitle={card.subtitle}
          imageSrc={card.imageSrc}
          imageAlt={card.imageAlt}
        />
      ))
    ) : (
      <NoDataCard
        id={`project_nodata`}
        message={i18n.PROJECTS.empty.message}
        subtitle={i18n.PROJECTS.empty.message2}
        imageSrc="/blog/img/my.svg"
      />
    )
  }
</div>
