---
import { getI18N } from "@/i18n";
import ArrowUpRight from "../../icons/ArrowUpRight.astro";

//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const {
  id = "",
  url = "",
  href = "#",
  title = "Título predeterminado",
  subtitle = "Subtítulo predeterminado",
  imageSrc = "",
  imageAlt = "Ícono predeterminado",
  isNew = false, // Nueva prop para controlar el badge
} = Astro.props;
---

<a
  id={id}
  href={href}
  data-section={id}
  class="relative p-1 rounded-lg flex items-center justify-between border-[1px]
   border-hub-border
   dark:border-hub-border-dark
   hover:drop-shadow-md
   hover:bg-hub-background-nav
   dark:bg-hub-background-nav-dark
   hover:dark:bg-hub-background-dark group"
  target="_blank"
  rel="noopener noreferrer"
>

  <div class="flex items-center">
    <div
      class="rounded-lg border-[1px] size-9 flex items-center justify-center
       border-hub-border
        dark:border-hub-border-dark
      dark:bg-hub-background
      overflow-hidden"
    >
      <img src={imageSrc} alt={imageAlt} class="w-full h-full object-cover" />
    </div>

    <div class="pl-4 flex flex-col justify-start">
      <h2 class="font-medium text-base text-hub-title dark:text-hub-title-dark">
        {title}
      </h2>
      <small class="text-hub-subtitle dark:text-hub-subtitle-dark text-xs"
        >{url}</small
      >
    </div>
  </div>

  <!-- Icono derecho -->
  <ArrowUpRight
    class="size-6 text-hub-subtitle dark:text-hub-subtitle-dark transition-transform duration-300 ease-in-out group-hover:rotate-45"
  />
</a>
