---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/src/assets/img/notion/white/my-notion-face-transparent.png"
		/>
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta
			property="og:image"
			content="/src/assets/img/notion/white/my-notion-face-transparent.png"
		/>
		<meta property="og:url" content="https://hub.justcoddev.com/" />
		<meta name="twitter:card" content={description} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta
			name="twitter:image"
			content="/src/assets/img/notion/white/my-notion-face-transparent.png"
		/>

		<title>{title}</title>
	</head>
	<body
		class="bg-hub-background dark:bg-hub-background-dark md:flex md:justify-center"
	></body><slot />
</html>

<style>
	body {
		/* background-color: #101419; */
		/* background-color: #ffffff; */
	}
</style>
